h1 {color:green;font-size:50px;}
h2 {display:block;margin-left:40px;color:brown;font-size:40px;}
ad {display:block;margin-left:80px;margin-top:20px;color:blue;font-size:20px;}
usn {color:red;margin-left:20px;font-size:20px;} 
name {color:red;margin-left:20px;font-size:20px;} 
col {color:red;margin-left:20px;font-size:20px;} 
branch {color:red;margin-left:20px;font-size:20px;} 
year {color:red;margin-left:20px;font-size:20px;} 
email {color:red;margin-left:20px;font-size:20px;}
